/* Import CSS */
@import 'variables.scss';


$fs-default: $fs-6;
$fw-default: $fw-regular;
$f-line-height: 1.5;

$default-font-settings: $fw-default $fs-default $ff-default;

#app {
    font: $default-font-settings;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    line-height: $f-line-height;

    // FLEX
    display: flex;
    flex-direction: column;

    // SIZE
    height: 100vh;
    overflow: auto;

    // Aesthetics
    color: $clr-dark;  
}

