// Color Cube
$clr-cube-perfume: rgb(189, 162, 243);
$clr-cube-daisy-bush: rgb(91, 44, 162);
$clr-cube-white: rgb(255, 255, 255);
$clr-cube-cod-gray: rgb(14, 14, 13);
$clr-cube-chalky: rgb(240, 202, 161);
$clr-cube-manatee: rgb(146, 146, 149);
$clr-cube-jap-laurel: #287a00;

// Material Design
$clr-md-atoll: rgb(8, 106, 119);

/* BRAND COLORS */
$clr-primary-dark: $clr-cube-daisy-bush;
$clr-primary: $clr-cube-perfume;
$clr-primary-light: rgb(242, 238, 244);

$clr-light: $clr-cube-white;
$clr-gray: $clr-cube-manatee;
$clr-dark: $clr-cube-cod-gray;
