// Color Cube
$clr-cube-perfume: rgb(189, 162, 243);
$clr-cube-daisy-bush: rgb(91, 44, 162);
$clr-cube-white: rgb(255, 255, 255);
$clr-cube-cod-gray: rgb(14, 14, 13);

/* BRAND COLORS */
$clr-primary-dark-purple: $clr-cube-daisy-bush;
$clr-primary-purple: $clr-cube-perfume;
$clr-light: $clr-cube-white;
$clr-dark: $clr-cube-cod-gray;