// Flex
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  @include flex-center();
}

.flex-column-center {
  @include flex-center();
  flex-direction: column;
}