/* MIXINS */
@mixin container-config {
  width: 100%;
  max-width: 100%;
  margin: 0 auto
}


@mixin squareRatio {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fs-1 {
  font-size: calc( $fs-2 + .05vw);

  @media only screen and (min-width: $md-breakpoint) {
    font-size: $fs-1;
  }
}

@mixin fs-2 {
  font-size: calc( $fs-3 + .05vw);

  @media only screen and (min-width: $md-breakpoint) {
    font-size: $fs-2;
  }
}

@mixin fs-3 {
  font-size: calc( $fs-4 + .05vw);

  @media only screen and (min-width: $md-breakpoint) {
    font-size: $fs-3;
  }
}