// NAV
.nav-bar {
  display: flex;
  flex-direction: column;
  
  @media only screen and (min-width: $md-breakpoint) {
    align-items: center;
    flex-direction: row;
    gap: $_size-4;
  }
}

.nav-routing-links {
	// Flex Container
	display: flex;
  flex-direction: column;
	

  @media only screen and (min-width: $md-breakpoint) {
    align-items: center;
    flex-direction: row;
    column-gap: $_size-5;
  }
}


.nav-link {
  cursor: pointer;

  // Font
  font-size: $fs-8;
  text-transform: uppercase;
  color: $clr-primary-dark;

  // Shape of container
  border-bottom: 2px solid transparent;
  
  @media only screen and (max-width: $md-breakpoint) {
    text-align: end;
  }

  @media only screen and (min-width: $md-breakpoint) {
    width: 100%;
    padding: $_size-4 0;
  }

  // Transitions
  transition: 
    border-bottom $_speed-1 ease,
    color $_speed-2 ease-in,
    transform $_speed-3 ease-in;

	&.router-link-exact-active {
    font-weight: $fw-medium;
    border-color: $clr-primary-dark;
	}

  &:hover {
    color: $clr-primary;
    border-color: $clr-primary;

    transform: translateY(-5%);
  }
}