/* Color Scheme */
@import '_color-scheme.scss';

// GRADIENTS
$dark-gradient: linear-gradient(
    rgba($clr-primary-purple, 1),
    rgba($clr-primary-dark-purple, 1)
);

$center-fade-gradient-purple: linear-gradient(
    rgba($clr-primary-purple, 0),
    rgba($clr-primary-purple, .5),
    rgba($clr-primary-purple, 1),
    rgba($clr-primary-purple, .5),
    rgba($clr-primary-purple, 0),
);

$center-fade-gradient-purple-light: linear-gradient(
    rgba($clr-primary-purple, 0),
    rgba($clr-primary-purple, .2),
    rgba($clr-primary-purple, .5),
    rgba($clr-primary-purple, .2),
    rgba($clr-primary-purple, 0),
);

/* FONT */
$ff-fallback: Helvetica, Arial, sans-serif;

/* FONTS */
// Montserrat (Google Font)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,800&display=swap');
// Source Serif Pro (Google Font)
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&display=swap');


// Set Defaults
$ff-default: 'Montserrat', $ff-fallback;
$ff-secondary: 'Source Serif Pro', serif;

// Size
$fs-1: 3rem;
$fs-2: 2rem;
$fs-3: 1.4rem;
$fs-4: 1.2rem;
$fs-5: 1rem;
$fs-6: .9rem;
$fs-7: .8rem;
$fs-8: .7rem;
$fs-9: .5rem;

// Weight
$fw-extra-bold: 800;
$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
$fw-thin: 300;
$fw-extra-thin: 100;

/* SIZES */
$max-w-container: 1700px;

// BREAKPOINTS
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px; 


/* SPACING */
$_size-1: .8rem;
$_size-2: 1rem;
$_size-3: 1.3rem;
$_size-4: 1.8rem;
$_size-5: 2rem;
$_size-6: 2.5rem;
$_size-7: 3rem;
$_size-8: 4rem;


/* Animation Speed */ 
$_speed-1: 200ms;
$_speed-2: 250ms;
$_speed-3: 300ms;
$_speed-4: 400ms;

