@import '_variables.scss';
@import '_mixins.scss';

// ARIA-ACCESSIBILITY
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


// SPACING
.flow-section > * + * {
  margin-top: $_size-10;
}


// NAV
.nav-link {
  cursor: pointer;

  // Font
  font-size: $fs-8;
  
  text-transform: uppercase;
  color: $clr-primary-dark-purple;

  padding: $_size-4 0;
  border-bottom: 2px solid transparent;

  // Transitions
  transition: 
    border-bottom $_speed-1 ease,
    color $_speed-2 ease-in,
    transform $_speed-3 ease-in;

	&.router-link-exact-active {
    font-weight: $fw-medium;
    border-color: $clr-primary-dark-purple;
	}

  &:hover {
    color: $clr-primary-purple;
    border-color: $clr-primary-purple;

    transform: translateY(-5%);
  }
}

// Cards
.info-card {
  max-width: 50ch;
}


// SCROLLER 
.scroll-snap {
    scroll-snap-type: inline mandatory;
}

.scroll-snap > * {
    scroll-snap-align: center;
}

.display-section {
  // Flex Container
  gap: $_size-3;
  flex-direction: column;
  align-items: center;

  .card-slider {
    flex-basis: 60%;
    min-width: 400px;
    margin-left: auto;
  }

  @media only screen and (min-width: $md-breakpoint) {
    flex-direction: row;
  }
}


// Font
.ff-default {
    font-family: $ff-default;
}

.ff-secondary {
    font-family: $ff-secondary;
}

.font-subtle-caps {
    font-size: $fs-9;
    font-weight: $fw-regular;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.font-emphasized {
  color: $clr-primary-dark-purple;
  font-size: $fs-2;
  font-weight: $fw-bold;
  font-family: $ff-secondary;
  line-height: 1.2;

  &.big {
      font-size: $fs-1;
      font-weight: $fw-extra-bold;
  }
}

.btn-default {
	// Variables
	$padding-x: $_size-5;
	$padding-y: $_size-1;
	$radius: .5em;
	$dark: $clr-primary-dark-purple;
	$light: $clr-light;

	// Font
	font-size: $fs-7;
	font-weight: $fw-bold;

	// Shape
	padding: $padding-y $padding-x;
	border-radius: $radius;


	// Transitions
	transition: 
		color $_speed-3 ease,
		background-color $_speed-3 ease;


	// BTN Colours	
	@mixin lightScheme {
		background-color: $light;
		color: $dark;
	}

	@mixin darkScheme {
		background-color: $dark;
		color: $light;
	}
	
	&.light {
		@include lightScheme();

		&:hover {
			@include darkScheme();
		}
	}

	&.dark {
		@include darkScheme();

		&:hover {
			@include lightScheme();
		}
	}
}