@import '_variables.scss';
@import '_mixins.scss';

// ARIA-ACCESSIBILITY
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


// SPACING
.flow-section > * + * {
  margin-top: $_size-10;
}

.flow > * + * {
  margin-top: $_size-3;
}


// Cards
.info-card {
  max-width: 50ch;
}


// Overlay
.alert-box {
  position: absolute;
    top: 5rem;
    z-index: 5;
    right: calc(100% - 5rem);

  @media only screen and (min-width: $md-breakpoint) {  
    right: 2rem;
  }
}