@import '_variables.scss';
@import '_mixins.scss';

// ARIA-ACCESSIBILITY
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

// SHAPES
.round-container {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
}

// CONTAINERS
.container {
    @include base-container();
} 

.wide-container {
    @include container-config();
    padding: $_size-2 $_size-6
}

// Flex
.flex {
    display: flex
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// NAV
.nav-link {
    cursor: pointer;

    // Font
    font-size: $fs-8;
    text-transform: uppercase;
    color: $clr-primary-dark-purple;

    padding: $_size-4 0;
    border-bottom: 2px solid transparent;

    // Transitions
    transition: border-bottom 200ms ease;

	&.router-link-exact-active {
        border-color: $clr-primary-dark-purple;
	}

    &:hover {
        border-color: $clr-primary-purple;
    }
}

// Cards
.info-card {
    max-width: 40ch;
}

// SCROLLER 
.scroll-snap {
    scroll-snap-type: inline mandatory;
}

.scroll-snap > * {
    scroll-snap-align: center;
}

// Font
.ff-default {
    font-family: $ff-default;
}

.ff-secondary {
    font-family: $ff-secondary;
}

.font-subtle-caps {
    font-size: $fs-9;
    font-weight: $fw-regular;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.font-emphasized {
  color: $clr-primary-dark-purple;
  font-size: $fs-3;
  font-weight: $fw-bold;
  font-family: $ff-secondary;

  &.big {
      font-size: $fs-1;
      font-weight: $fw-extra-bold;
  }
}